
<div class="margin-y">
  <div class="induction">
    <div class="cat-input">
      <input type="text" name="cat" />
    </div>
    <div class="guesses">
        <span class="cat"><span>swim</span></span>
    </div>
  </div>

    <div class="picked">
        <span class="time">7:00pm Tuesday, June 7</span>
        <div class="margin-y"></div>
    </div>
</div>
