<div class="boxes">
  <% @cats.each do |cat| %>
    <% cat[:days].each do |key, count| %>
      <div class="<%= cat[:color] if count.to_i > 0 %>" data-date="<%= key %>"></div>
    <% end %>
  <% end %>
</div>
