
<script type="text/javascript">
var cats = [];
<% @trending.each do |k, v| %>
  cats.push("<%= k %>");
<% end %>
</script>

<div class="margin-y clearfix">
  <div class="induction">
    <div class="input-wrap">
      <input type="text" name="cat" id="cat-input" placeholder="e.g. workout, swim, Masters, Koret" />
    </div>
  </div>
</div>

<div class="margin-y clearfix">
  <div class="guesses">
  </div>
  <div class="picked">
  </div>
  <span class="time">7:00pm Tuesday, June 7</span>
  <span id="go">GO</span>
  <span id="go">clear</span>
</div>


<div class="margin-y">
  <h2 class="span">Last 7 days</h2>
  <% @last_7_days.each do |record| %>
    <div class="day">
      <%= record.created_at.strftime '%c' %>
      <% record.cats_from_raw.each do |cat| %>
        <span class="cat"><span><%= cat %></span></span>
      <% end %>
    </div>
  <% end %>
</div>
