<% @trends.each do |trend| %>
  <div class="trend">
    <h2><%= trend %></h2>
    <ul class="stats">
      <li>
        <h4>Per week</h4>
        <h5>Last 8 weeks</h5>
      </li>
      <li>
        <h4>Per week</h4>
        <h5>Last 16 weeks</h5>
      </li>
    </ul>
  </div>
<% end %>
