#wrap.home {
  width: 900px;
  margin: 10px auto;
    
  header {
  
    h1 {
      float: left;
    }
    #beta {
      font-size: 11px;
    }
    #login_status {
      float: right;
      padding: 16px 0 0;
      font-size: 12px;
      color: #888;
      a {
        color: #222;
        font-weight: bold;
      }
    }
  }
  
  #main {
    margin: 100px 0 0;
    h1 {
      font-size: 32px;
      text-align: center;
      color: #111;
      font-family: 'museo-slab-1', 'museo-slab-2', Helvetica, Arial, serif;
      margin: 0 0 60px;
  /*     text-shadow: 0 1px 1px #9f8fd7; */
    }
    h2 {
      font-size: 18px;
      color: #222;
      margin: 0 0 10px;
    }
    #record_example {
      margin: 0 0 100px;
    }
    #chart_example {
      margin: 0 0 80px;
    }
  }
  
  .record {
    padding: 8px 10px;
    font-family: "Lucida Grande", "Verdana", sans-serif;
    
    .timestamp {
      float: left;
      margin: 6px 16px 0 0;
      color: #222;
    }
    
    a.cat {
      float: left;
      background-color: #2560d4;
      color: white;
      padding: 4px 8px 7px;
      margin: 0 0 0 16px;
      border-radius: 6px;
      border-bottom: solid 1px #6993e5;
      border-top: solid 1px #183f8c;
      &:hover {
        opacity: 0.9;
      }
    }
    
    .karma {
      float: left;
      padding: 4px 5px 7px;
      margin: 0 0 0 6px;
      border-radius: 6px;
      font-weight: bold;
    }
    .destroy {
      float: right;
      color: #999;
      font-size: 11px;
      padding: 7px 5px 0 0;
    }
    .edit {
      float: right;
      color: #999;
      font-size: 11px;
      padding: 7px 0 0;
    }
    .zone {
      float: right;
      color: #555;
      font-size: 11px;
      padding: 7px 10px 0 0;
      
    }
  }
  
}      