// Attempting to have a modular CSS base style framework like BH

.margin-y { margin-top: 2em; margin-bottom: 2em; }


#everything {
  font-family: "Lucida Grande", "Verdana", sans-serif;
  padding: 18px;
  max-width: 600px;
  margin: 0 auto;
}
header {
  border-bottom: solid 1px #ccc;
  padding: 18px 0;
  margin: 0 0 18px;
  h1 {
    display: inline-block;
  }
  ul {
    padding: 12px 0 0;
    font-size: 12px;
    float: right;
    li {
      display: inline-block;
    }
  }
}

div.boxes {
  margin: 0px 0;
  div.blocks {
    position: relative;
    width: 100%;
    div.day {
      width: 8px;
      height: 8px;
      margin: 0 2px 2px 0;
      padding: 0;
      float: left;
      background-color: #ddd;
      &.red {
        background-color: #d4150d;
      }
      &.green {
        background-color: green;
      }
      &.blue {
        background-color: #06a6bf;
      }
      &.light-blue {
        background-color: aqua;
      }
    }
  }
}


.induction {
  float: left;
  width: 60%;
  .cat-input {
    margin: 0 0 12px;
    input {
      display: block;
      width: 90%;
      padding: 4px;
      margin: 0;
      border: solid 1px #ccc;
      font-size: 18px;
    }
  }
}
.picked {
  width: 32%;
  float: right;
  border-left: solid 1px #ddd;
  padding: 0 0 18px 12px;
}

.cat {
  display: inline-block;
  color: white;
  font-size: 14px;
  background-color: hsl(230, 80%, 60%); 
  text-shadow: 0 -1px 1px hsl(230, 80%, 20%);
  //background-color: hsl(230, 60%, 25%); 
  border-bottom: solid 2px hsl(230, 80%, 20%); 
  border-radius: 4px;
  padding: 8px 0;
  margin: 0 6px 6px 0;
  -webkit-user-select: none;
  user-select: none;
  &:not(.mag) {
      padding-left: 12px;
  }
  i {
    font-style: normal;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: hsl(230, 50%, 34%); 
    border-right: solid 1px hsl(230, 80%, 45%); 
    //border-bottom: solid 1px hsl(230, 80%, 40%); 
    padding: 8px;
    margin: 0 6px 0 0;
  }
  &:hover {
    background-color: hsl(230, 80%, 63%); 
    cursor: pointer;
  }
  &:active {
    border-top: solid 2px hsl(230, 80%, 50%); 
    border-bottom: none; 
  }
  > span {
    margin: 0 12px 0 0;
  }
}

div.trend {
  background-color: #f7f7f7;
  border-radius: 4px;
  padding: 12px;
  margin: 0 0 18px;
  h2 {
    font-size: 18px;
    color: #888;
  }
  ul.stats {
    margin: 18px 0 0;
    li {
      width: 29%;
      display: inline-block;
      margin:  0 0 18px;
      h4 {
        font-size: 14px;
      }
      h5 {
        font-weight: normal;
        font-size: 11px;
      }
    }
  }
}
