

<div class="margin-bottom">
  <% @trending_cats.each do |cat| %>
    <a class="cat small" href="/cats/<%= cat %>"><span><%= cat %></span></a>
  <% end %>
</div>

<div class="margin-bottom">
  <div>
    <span class="cat hefty"><span><%= @name %></span></span>
  </div>
</div>

<%= render :partial => "shared/records", :locals => {:records => @records} %>
