

<div class="margin-bottom">
  <span class="cat small"><span>swim</span></span>
  <span class="cat small"><span>drink</span></span>
  <span class="cat small"><span>popular</span></span>
  <span class="cat small"><span>cats</span></span>
</div>

<div class="margin-bottom">
  <span class="cat hefty"><span><%= @name %></span></span>
</div>

<%= render :partial => "shared/records", :locals => {:records => @records} %>
