<!DOCTYPE html>
<html>
<head>
  <title>rcrd</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if request.user_agent.include?("iPhone") %>
    <meta name="viewport" content="width=device-width, user-scalable=no /">
  <% end %>
</head>
<body>
<% if request.user_agent.include?("iPhone") %>
  <div id="iphone_wrap">
<% else %>
  <div id="wrap">
<% end %>
<%= yield %>
</div>
</body>
</html>
